<html>
	<head>
		<title>{{ .title }}</title>
		 <link rel="stylesheet" type="text/css" href="/styles.css">
	</head>
	<body class="App">
		<h1>
			{{ .category }}
		</h1>
		<div class='create-book-container'>
			<h2> Title </h2>
			<p> Written by:  </p>
			<p> Description: </p>
			<p>ISBN: </p>
		</div>
	    <div class='create-book-container'>
			<h2>History</h2>
			<p> Checkout blah:  </p>
			<p> checkin Blah: </p>
	    </div>
	</body>
</html>