<html>
	<head>
		<title>{{ .title }}</title>
		 <link rel="stylesheet" type="text/css" href="/styles.css">
	</head>
	<body class="App">
		<h1>
			{{ .book.Title }}
		</h1>

		<div class='create-book-container'>
			<a href="/index.html"><<<--- Back</a>
			<h2> Modify Book </h2>
			<form id="modifyBookForm">
				<label htmlFor="title">
					Title:
					<input name="title" id="title" value="{{ .book.Title }}"/>
				</label>
				<label htmlFor="description">
					Description:
					<input name="description" id="description" value="{{ .book.Description }}"/>
				</label>
				<label htmlFor="isbn">
					ISBN:
					<input name="isbn" id="isbn" value="{{ .book.ISBN }}"/>
				</label>
				<label htmlFor="authors">
					Authors:
					<input name="authors" id="authors" value="{{ .book.Authors }}"/>
				</label>
				<input type="hidden" name="book_id" id="book_id" value="{{ .book.ID }}"/>
				<p>
					<input type="button" onclick="updateBook();" value="Update Book" />
				</p>
			</form>

		</div>
	    <div class='create-book-container'>
			{{ if .history }}
				{{range .history}}
				<p>
					{{if .Status}}
					Checked out
					{{else}}
					Checked in
					{{end}}
					{{ .When }}
				</p>
				{{ end }}
			{{ else }}
			  <p>Unloved book, No checkouts! ;(</p>
			{{ end }}
	    </div>
	</body>
	<script language="JavaScript">

		function getFormJson(formID) {
			const form = document.getElementById(formID);
			const data = new FormData(form)
			const values = JSON.stringify(Object.fromEntries(data.entries()));
			return values;
		}

		function updateBook() {
			const values = getFormJson("modifyBookForm")
			$.ajax({
				type: "PUT",
				url: "/api/book/"+$("#book_id").val(),
				data: values,
				dataType: "json"
			}).done(function () {
				window.location.reload(true);
			});
		}
	</script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</html>