<html>
	<head>
		<title>{{ .title }}</title>
		 <link rel="stylesheet" type="text/css" href="/styles.css">
	</head>
	<body class="App">
		<h1>
			{{ .category }}
		</h1>
		<div class='create-book-container'>
			<form id="createBookForm">
				<h2>Create Book</h2>
				<label htmlFor="title">
					Title:
					<input name="title" id="title"/>
				</label>
				<label htmlFor="description">
					Description:
					<input name="description" id="description"/>
				</label>
				<label htmlFor="isbn">
					ISBN:
					<input name="isbn" id="isbn"/>
				</label>
				<label htmlFor="authors">
					Authors:
					<input name="authors" id="authors"/>
				</label>
				<p>
					<input type="button" onclick="createNewBook();" value="Create Book" />
				</p>
			</form>
		</div>
	    <div class='book-list'>
			{{range .books}}
			  <div class='book-container'>
				<h2> <a href="/book/{{.ID}}/index.html"> {{ .Title }} </a></h2>
				  <p> Written by: {{ .Authors }} </p>
				  <p> Description: {{ .Description }} </p>
				  <p>ISBN: {{ .ISBN }} </p>
				  <p>{{if .Available}}Out of Stock{{else}}In Stock{{end}}</p>
				  <p></p>
				  {{if .Available}}
				  	<a href="javascript:checkIn({{.ID}});">Check in</a>
				  {{else}}
				  	<a href="javascript:checkOut({{.ID}});">Check out</a>
				  {{end}}
				  <a href="javascript:deleteBook({{.ID}});" onclick="deleteBook({{.ID}})">Delete</a>

			  </div>
			{{ end }}
	    </div>
	</body>
<script language="JavaScript">
	function relaodPage() {
		setTimeout()
	}

	function getFormJson(formID) {
		const form = document.getElementById(formID);
		const data = new FormData(form)
		const values = JSON.stringify(Object.fromEntries(data.entries()));
		return values;
	}

	function createNewBook() {
		const values = getFormJson("createBookForm")
		$.ajax({
            type: "POST",
            url: "/api/book",
            data: values,
            dataType: "json"
        }).done(function () {
			window.location.reload(true);
		});
		$('#createBookForm')[0].reset();
	}

	function checkIn(id) {
		$.ajax({
             type: "POST",
             url: "/api/book/"+id+"/checkin",
             dataType: "json"
         }).done(function () {
         	window.location.reload(true);
		});
	}

	function checkOut(id) {
		console.log("enterX")
		$.ajax({
			type: "POST",
			url: "/api/book/"+id+"/checkout",
			dataType: "json"
		}).done(function () {
			window.location.reload(true);
		});

	}

	function deleteBook(id) {
		$.ajax({
             type: "DELETE",
             url: "/api/book/"+id,
             dataType: "json"
        }).done(function () {
			window.location.reload(true);
		});
	}
</script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</html>